<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Book List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<h1>Booklist</h1>
	<p>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Publishing year</th>
				<th>ISBN</th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}">title</td>
				<td th:text="${book.author}">author</td>
				<td th:text="${book.publicationYear}">publicationYear</td>
				<td th:text="${book.isbn}">isbn</td>
				<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	</p>
	<button class="btn btn-primary"><a href="/add">Add Book</a></button>
	<br />
	<br />
	<button class="btn btn-primary"><a href="/index">Back to main page</a></button>
</body>

</html>