<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Book List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Booklist</h1>
	<p>
	<table>
		<tbody>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Publishing year</th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.author}">author</td>
				<td th:text="${book.title}">title</td>
				<td th:text="${book.isbn}">isbn</td>
				<td th:text="${book.publicationYear}">publicationYear</td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			</tr>

		</tbody>
	</table>
	</p>
	<a href="/add" class="btn btn-primary">Add Book</a>
	<br />
	<a href="/index" class="btn btn-primary">Back to main page</a>
</body>

</html>