<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="http://localhost:8097"></script>
    <title>Bookstore Exercise</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Welcome to the Book Store!</h1>
    <h2>Currently on our shelf:</h2>
    <table class="table table-striped">
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">Book Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${#numbers.formatDecimal(book.price, 1,2)}">Price</td>
        </tr>
    </table>
    <br/>
    <button class="btn btn-primary"><a href="/booklist">Press here for more</a></button>
</body>

</html>